.popover, .settings-popover {
  max-width: 600px;
  h3.title {
    color: #292b2c;
    font-family: 'source_sans_proregular';
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  p {
    font-size: 12px;
    line-height: 6px;
    margin-bottom: 16px;
    padding-left: 20px;
  }
  form {
    margin-bottom: 15px;
  }
  .btn {
    border-radius: 4px;
    color: #3A4657;
    border: 1px solid #CCC;
    font-size: 12px;
    padding: 0.80em 0.80em;
    font-weight: 300;
    cursor: pointer;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    &.btn-confirm {
      background-color: #b8d4c6;
      &:hover {
        background-color: #4CAF50;
        color: #fff;
      }
    }
    &.btn-cancel {
      background-color: #eca8aa;
      &:hover {
        background-color: #c9302c;
        color: #fff;
      }
    }
    &.btn-yellow {
      background: #f2eab9;
      border: 1px solid #b5af8b;
      &:hover {
        background: #f0df78;
        color: #fff;
      }
    }
    &.btn-normal {
      background: #D3DDEB;
      border: 1px solid #9ea6b0;
      &:hover {
        background: #9db3d1;
        color: #fff;
      }
    }
  }
}
.delete-popover {
  popover-container {
    background: #e6ebf2;
    min-width: 305px;
  }
  .popover.popover-left::after {
    border-left-color: #e6ebf2;
  }
}
.sidebar-delete-popover {
  popover-container {
    background: #e6ebf2;
    min-width: 305px;
  }
  .popover.popover-bottom::after {
    border-bottom-color: #e6ebf2;
  }
}
.settings-popover {
  width: 580px;
  left: -510px;
  top: 35px;
  padding: 10px 12px 10px 6px;
  .row {
    margin-bottom: 10px;
  }
  .option-submenu {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 20px 20px 50px;
    li {
      border: none;
      list-style: none;
      display: block;
      p {
        padding: 0;
      }
    }
  }
}
.revisions-popover, .notifications-popover {
  padding: 5px 0;
  input {
    font-size: 12px;
  }
  .results {
    width: 260px;
    li {
      list-style: none;
      display: block;
      clear: both;
      .mainpro {
        width: 100%;
        height: 50px;
        padding: 5px;
        &:hover {
          background: #d3ddeb;
          border-radius: 0.40rem;
        }
      }
      .pro-icon {
        width: 15%;
        float: left;
        height: auto;
        img {
          width: 28px;
          height: 28px;
        }
      }
      .pro-text {
        width: 85%;
        float: left;
        height: auto;
        font-size: 9px;
        color: #3A4657;
        padding-top: 5px;
        font-family: 'source_sans_proregular';
      }
      .pro-text small {
        font-size: 1em;
        color: #758296;
        font-style: normal;
      }
    }
  }
  popover-container {
    background: #e6ebf2;
  }
  .popover.popover-bottom::after {
    border-bottom-color: #e6ebf2;
  }
}
.revisions-popover {
  .results {
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px;
  }
}
.calendar-td {
  popover-container {
    background: #e6ebf2;
    min-width: 264px;
  }
  .popover.popover-bottom::after {
    border-bottom-color: #e6ebf2;
  }
}
.calendar-popover {
  h4 {
    font-family: 'source_sans_proregular';
    font-size: 13px;
    color: #758296;
    border-bottom: 1px solid #b8b8ba;
    margin-bottom: 0;
    text-align: left;
    text-transform: capitalize;
    background: #f5f7fa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 3px;
  }
  datepicker {
    datepicker-inner {
      div.card {
        background: #fff;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 0 0 4px 4px;
        border: 0;
        table {
          .btn, th small b {
            border: none;
            border-radius: 0;
            padding: 0;
            width: 23px;
            height: 23px;
            font-family: 'source_sans_proregular';
            font-size: 10px;
            font-weight: bold;
            line-height: 26px;
            color: #3a4657;
          }
          th small b {
            font-size: 11px;
            font-weight: normal;
            line-height: 16px;
            text-transform: uppercase;
          }
          th .btn {
            font-size: 14px;
            margin-bottom: 10px;
          }
          thead {
            background: #fff;
            th {
              vertical-align: top;
            }
          }
          tbody {
            td {
              padding: 3px;
              background: #fff;
              border: none;
            }
          }
        }
      }
    }
  }
}
.list-popover-container {
  popover-container {
    background: #e6ebf2;
  }
  .popover.popover-bottom::after {
    border-bottom-color: #e6ebf2;
  }
  .popover-content {
    padding: 0;
  }
  .list-popover {
    ul {
      li {
        list-style: none;
        display: block;
        width: 160px;
        padding: 8px 3px;
        border-bottom: 1px solid #b9bdc3;
        &:last-child {
          border-bottom: 0;
        }
        a {
          display: block;
          position: relative;
          font-size: 10px;
          font-weight: 500;
          font-family: 'source_sans_proregular';
          color: #3a4657;
          text-transform: uppercase;
          text-decoration: underline;
          text-align: center;
        }
      }
    }
    &.prio-popover {
      ul li a{
        text-align: left;
        i {
          position: absolute;
          right: 5px;
          &.rate {
            padding: 3px 0 0;
            .span-on, .span-off {
              display: inline-block;
              height: 12px;
              width: 4px;
              margin-right: 1px;
              background: #bbc2cb;
              cursor: pointer;
              &:last-child {
                margin-right: 0;
              }
            }
            .span-on {
              background: #000;
            }
          }
        }
      }
    }
  }
}
.set-user {
  popover-container {
    background: #e6ebf2;
  }
  .popover.popover-bottom::after {
    border-bottom-color: #e6ebf2;
  }
  .mainpro img {
    width: 28px;
    height: 28px;
  }

}
.comment-box {
  popover-container {
    background: #e6ebf2;
    width: 330px;
  }
  .popover.popover-right::after {
    border-right-color: #e6ebf2;
  }
  .comment-popover {
    background: #e6ebf2;
    text-align: left;
    label {
      font-size: 1em;
      color: #000;
      margin-bottom: 5px;
    }
    textarea {
      font-size: 10px;
      padding: 1em;
      border: 1px solid #a1a1a1;
      background: #fff;
      border-radius: 10px;
      font-weight: 100;
      width: 300px;
      height: 120px;
    }
    .btn-sm {
      float: right;
      margin-left: 6px;
      margin-bottom: 6px;
    }
  }

}
