<div id="panel-page" class="group-list">

  <div>
    <div class="panel-sidebar">
      <app-panel-header [user]="user" [group_url]="'/panel'"></app-panel-header>

      <div class="sidebar-body">

        <div class="left-panel-page col-12">
          <app-organizations-header></app-organizations-header>

          <div class="left-panel-page col-12">
            <div class="row mt-2 mb-2">
              <div class="col-12">
                <div class="left-menu group-list">

                  <table class="table tree-2 table-sm table-striped table-condensed small">
                    <tr class="menu-head">
                      <td><input type="checkbox" name=""></td>
                      <td>#</td>
                      <td>
                        <div class="row gpl participants">
                          <div class="col-md-12">
                            <div class="btn-group ml-2">
                              <div dropdown class="btn-group btn-group-left-panel">
                                <button type="button" class="btn pl-2 pr-5 pb-0 pt-0 bg-white text-left">
                                  <label class="mb-0">All Participants</label><br><br>
                                  <span>3 Users</span>
                                </button>
                                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle-split"
                                        id="participants-dropdown" aria-expanded="false" dropdownToggle>
                                  <span class="sr-only">
                                    <i class="fa fa-angle-down md-blue" aria-hidden="true"></i>
                                  </span>
                                </button>
                                <div class="lg-dpdn dropdown-menu" dropdownMenu
                                     aria-labelledby="participants-dropdown">
                                  <a class="dropdown-item" href="javascript:void(0)">
                                    <label class="mb-0">Administrators</label><br>
                                    <span><i>3 Users</i></span>
                                  </a>
                                  <a class="dropdown-item" href="javascript:void(0)">
                                    <label class="mb-0">Managers</label><br>
                                    <span><i>3 Users</i></span>
                                  </a>
                                  <a class="dropdown-item" href="javascript:void(0)">
                                    <label class="mb-0">Members</label><br>
                                    <span><i>3 Users</i></span>
                                  </a>
                                  <a class="dropdown-item" href="javascript:void(0)">
                                    <label class="mb-0">Viewers</label><br>
                                    <span><i>3 Users</i></span>
                                  </a>
                                  <a class="dropdown-item" href="javascript:void(0)">
                                    <label class="mb-0">Visitors</label><br>
                                    <span><i>3 Users</i></span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <img src="/assets/images/svg/hirarchy-1.svg" class="ic12">
                        <img src="/assets/images/svg/hirarchy-2.svg" class="ic12">
                        <img src="/assets/images/svg/hirarchy-3.svg" class="ic12">
                        <img src="/assets/images/svg/hirarchy-4.svg" class="ic12">
                        <img src="/assets/images/svg/hirarchy-5.svg" class="ic12">
                        <span class="dropdown">
                          <a data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
                             aria-expanded="false">Hierarchy</a>
                          <div class="dropdown-menu dropdown-menu-center dd-design1 text-center">
                            <a class="dropdown-item" href="javascript:void(0)">nested order (standard)</a>
                            <a class="dropdown-item" href="javascript:void(0)">alphabetical order</a>
                            <a class="dropdown-item" href="javascript:void(0)">sort by category</a>
                          </div>
                        </span>
                      </td>
                      <td>
                        <figure class="mb-0 mt-1">
                          <span><img src="/assets/images/profile.png"></span>
                          <figcaption class="figure-caption">Sunny S</figcaption>
                        </figure>
                        <small><i>Administrator</i></small>
                      </td>
                      <td>
                        <figure class="mb-0 mt-1">
                          <span><img src="/assets/images/profile.png"></span>
                          <figcaption class="figure-caption">Bryan W</figcaption>
                        </figure>
                        <small><i>Manager</i></small>
                      </td>
                      <td>
                        <figure class="mb-0 mt-1">
                          <span><img src="/assets/images/profile.png"></span>
                          <figcaption class="figure-caption">Mark H</figcaption>
                        </figure>
                        <small><i>user</i></small>
                      </td>
                      <td>
                        <figure class="mb-0 mt-1">
                          <span></span>
                          <figcaption class="figure-caption">&nbsp;</figcaption>
                        </figure>
                        <small><i>&nbsp;</i></small>
                      </td>
                      <td>
                        <figure class="mb-0 mt-1">
                          <span></span>
                          <figcaption class="figure-caption">&nbsp;</figcaption>
                        </figure>
                        <small><i>&nbsp;</i></small>
                      </td>
                      <td>
                        <figure class="mb-0 mt-1" data-toggle="modal"
                                data-target="#modelinvite">
                                                    <span class="text-center" (click)="inviteUsersModal.trigger();"><i
                                                            class="fa fa-plus mt-2 pt-1"></i></span>
                          <figcaption class="figure-caption">Invite</figcaption>
                        </figure>
                        <small><i>Group</i></small>

                        <app-invite-users-modal #inviteUsersModal></app-invite-users-modal>

                      </td>
                    </tr>

                    <tr class="treegrid-1">
                      <td><input type="checkbox"></td>
                      <td>3</td>
                      <td class="jk"><span data-toggle="tooltip" data-placement="top"
                                           title="Tooltip on top">Root node 1</span>
                                                <span class="float-right comment-icon"><img
                                                        src="/assets/images/svg/comment.svg" class="ic14">
                                              </span>
                      </td>
                      <td>
                        <strong><i>Owner</i></strong>
                      </td>
                      <td><span>Comment</span></td>
                      <td><strong>Edit</strong></td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-2 treegrid-parent-1">
                      <td><input type="checkbox"></td>
                      <td>3</td>
                      <td>Node 1-1</td>
                      <td>
                        <strong><i>Admin</i></strong>
                      </td>
                      <td><strong>Edit</strong></td>
                      <td><span>Comment</span></td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-3 treegrid-parent-1">
                      <td><input type="checkbox"></td>
                      <td>3</td>
                      <td>Node 1-2</td>
                      <td>
                        <strong>Edit</strong>
                      </td>
                      <td><strong>Edit</strong></td>
                      <td><span>View</span></td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-4 treegrid-parent-3">
                      <td><input type="checkbox"></td>
                      <td>3</td>
                      <td>Node 1-2-1</td>
                      <td>
                        <strong>Edit</strong>
                      </td>
                      <td><span>Comment</span></td>
                      <td><span>View</span></td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-5">
                      <td><input type="checkbox"></td>
                      <td>-</td>
                      <td class="jk">Root node 2</td>
                      <td>
                        <strong>Edit</strong>
                      </td>
                      <td><span>Comment</span></td>
                      <td><span>View</span></td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-6 treegrid-parent-5">
                      <td><input type="checkbox"></td>
                      <td>-</td>
                      <td class="jk">Node 2-1</td>
                      <td>
                        <span>Comment</span>
                      </td>
                      <td><span>Comment</span></td>
                      <td><span>View</span></td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-7 treegrid-parent-5">
                      <td><input type="checkbox"></td>
                      <td>-</td>
                      <td class="jk">Node 2-2</td>
                      <td>
                        <span>Comment</span>
                      </td>
                      <td><span>Comment</span></td>
                      <td><span>View</span></td>
                      <td>
                        &nbsp;
                      </td>

                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td><input type="checkbox"></td>
                      <td>-</td>
                      <td class="jk">Node 2-2-1</td>
                      <td>
                        &nbsp;
                      </td>
                      <td><span>Comment</span></td>
                      <td><span>View</span></td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>

                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                    <tr class="treegrid-8 treegrid-parent-7">
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="jk">&nbsp;</td>
                      <td>
                        &nbsp;
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>

</div>
