.group-list .panel-sidebar {
  width: 100%;
}

.participants {
  width: 90%;
}

.participants > div {
  padding-left: 0px;
}

.member-cell {
  min-width: 100px;
}

.member-role-element a {
  color: #1d1e1f;
}