.group-list .panel-sidebar {
  width: 100%;
  img.round {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
.group-list {
  .left-panel-page {
    height: calc(100vh - 113px);
    overflow: hidden;
  }
}

.participants {
  width: 90%;
  margin-bottom: 7px;
}

.participants > div {
  padding-left: 0px;
}

.member-cell {
  min-width: 100px;
}

.member-role-element a {
  color: #1d1e1f;
}

.group-list td:nth-child(1) {
  width: 20px;
}

.group-list td:nth-child(2) {
  width: 10px;
}

.group-list td:nth-child(3) {
  width: 170px;
}
