<div class="table-box">
  <h5>Title of table</h5>
  <table>
    <thead>
    <tr>
      <td colspan="3" class="top-header">Milestone</td>
      <td colspan="3" class="top-header">Target (Plan)</td>
      <td colspan="3" class="top-header">Track (Frcst)</td>
      <td colspan="4" class="top-header">Triage (Status)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="bold-header text-white">Ref</td>
      <td class="bold-header">Category</td>
      <td class="bold-header">Milestone</td>
      <td class="bold-header">Start</td>
      <td class="bold-header">Duration</td>
      <td class="bold-header">End</td>
      <td class="bold-header">Start</td>
      <td class="bold-header">Duration</td>
      <td class="bold-header">End</td>
      <td class="bold-header">r Dur.</td>
      <td class="bold-header">r End</td>
      <td class="bold-header">Status</td>
      <td class="bold-header">Notes</td>
    </tr>
    <tr>
      <td class="bold-header text-white">1</td>
      <td>
        <div dropdown class="dropdown">
          <a dropdownToggle>Plan</a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Design</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Develop</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Implement</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <app-editable-string [text]="'Analyze ROI'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'8/1/16'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'1/19/00'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'8/21/16'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'8/5/16'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'1/24/00'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'8/30/16'"></app-editable-string>
      </td>
      <td>5 U</td>
      <td>9 U</td>
      <td>C</td>
      <td>CFO confirmed projections</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td class="bold-header text-white">2</td>
      <td>
        <div dropdown class="dropdown">
          <a dropdownToggle>Plan</a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Design</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Develop</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Implement</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <app-editable-string [text]="'Obtain Approval'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'9/1/16'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'1/19/00'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'9/21/16'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'9/5/16'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'1/9/00'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'9/15/16'"></app-editable-string>
      </td>
      <td>10 F</td>
      <td>6 F</td>
      <td>G</td>
      <td></td>
    </tr>
    <tr>
      <td class="bold-header text-white">3</td>
      <td>
        <div dropdown class="dropdown">
          <a dropdownToggle>Develop</a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Design</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Develop</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Implement</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="bold-header text-white">4</td>
      <td>
        <div dropdown class="dropdown">
          <a dropdownToggle>Develop</a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Design</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Develop</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Implement</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="bold-header text-white">5</td>
      <td>
        <div dropdown class="dropdown">
          <a dropdownToggle>Implement</a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Design</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Develop</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Implement</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="bold-header text-white">Unplnd</td>
      <td>
        <div dropdown class="dropdown">
          <a dropdownToggle>Implement</a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Design</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Develop</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Implement</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="''"></app-editable-string>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3" class="bold-header text-white">Total Timing</td>
      <td class="bold-header">8/1/16</td>
      <td class="bold-header">5/21/00</td>
      <td class="bold-header">12/21/16</td>
      <td class="bold-header">8/5/16</td>
      <td class="bold-header">6/11/00</td>
      <td class="bold-header">1/15/17</td>
      <td class="bold-header">21 U</td>
      <td class="bold-header">25 U</td>
      <td class="bold-header">18% U</td>
      <td class="bold-header">Overall not worried about this initiative</td>
    </tr>
    </tfoot>
  </table>
</div>
