<div class="fixed_page">
  <app-header></app-header>
  <section class="container">
    <div class="signin margin-center">
      <h2 class="form-signin-heading">Beckway Group Login:</h2>
      <form class="form-signin form-horizontal" id="login_form">
        <figure class="text-center mb-4">
          <img src="/assets/images/beckway_logo.png" alt="Beckway" title="Beckway" />
        </figure>
        <p>Let's create a new password for you:</p>
        <div class="form-group">
          <label for="newpassword">New Password:</label>
          <span><input name="password" type="password" class="form-control" [(ngModel)]="password"></span>
        </div>
        <div class="form-group">
          <label for="newconfirmpassword">Confirm New Password:</label>
          <span><input name="confirmPassword" type="password" class="form-control" id="newconfirmpassword"
                       [(ngModel)]="confirm_password"></span>
        </div>

        <div class="form-group error" *ngIf="error">
          <p>{{error}}</p>
        </div>
        <div class="form-group success" *ngIf="success">
          <p>{{success}}</p>
        </div>

        <div class="form-group fpl text-right">
          <a href="javascript:void(0)" class="btn btn-md btn-primary ml-4 sspb" (click)="onSubmit()">SUBMIT <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </form>
    </div>
  </section>
</div>
<app-footer></app-footer>
