<div class="fixed_page">
  <app-header></app-header>
  <section class="container">
    <div class="signin margin-center">
      <h2 class="form-signin-heading">Beckway Group Login:</h2>
      <form class="form-signin form-horizontal" id="login_form">
        <figure class="text-center mb-4">
          <img src="/assets/images/beckway_logo.png" alt="Beckway" title="Beckway" />
        </figure>
        <p>It appears you've forgotten your password. No worries, we'll take care of it for you, just supply your email address below then hit "send request".</p>
        <div class="form-group mb-5">
          <label for="emailaddress">Email address</label>
          <span><input name="email" type="email" class="form-control" id="emailaddress" [(ngModel)]="email"></span>
        </div>
        <div class="form-group error" *ngIf="error">
          <p>{{error}}</p>
        </div>
        <div class="form-group success" *ngIf="success">
          <p>{{success}}</p>
        </div>
        <div class="form-group fpl">
          <div class="row">
            <div class="col-4 text-left">
              <a class="btn btn-md btn-primary sspb" href="javascript:void(0)" routerLink="/login"><i class="fa fa-angle-left" aria-hidden="true"></i> LOGIN
              </a>
            </div>
            <div class="col-8 text-right">
              <a class="btn btn-md btn-primary sspb" href="javascript:void(0)" (click)="onSubmit()" *ngIf="!working">
                SEND REQUEST <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
              <a class="btn btn-md btn-primary ml-4 sspb" href="javascript:void(0)" (click)="onSubmit()" *ngIf="working">
                <span class="working"><img src="/assets/images/loading.png" alt="working..."/></span>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<app-footer></app-footer>
