<div class="prio-popover list-popover">
  <ul>
    <li><a href (click)="onChoiceClicked('numerical')">numerical priority <i>1</i></a></li>
    <li>
      <a href (click)="onChoiceClicked('graphical')">graphical priority
        <i class="rate">
          <span class="span-on"></span>
          <span class="span-on"></span>
          <span class="span-on"></span>
          <span class="span-off"></span>
          <span class="span-off"></span>
        </i>
      </a>
    </li>
    <li><a href (click)="onChoiceClicked('color')">color priority <i class="fa fa-circle txt-green mr-1" aria-hidden="true"></i></a></li>
  </ul>
</div>
