<div class="panel-sidebar">
  <div class="sidebar-header">
    <div class="user-panel">

      <div class="profile-image">
        <img src="{{user?.ProfilePic || '/assets/images/profile.jpg'}}" />
      </div>

      <div class="profile-details">
        <h3>{{user?.FullName || 'New User'}}</h3>
        <p>{{user?.role || 'Role'}}</p>
      </div>
      <div class="actions-menu">
        <div dropdown class="dropdown">
          <a href id="simple-dropdown" dropdownToggle>
            <i class="fa fa-angle-down md-blue" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="#" (click)="onClickEditProfile();">
                <img src="/assets/images/svg/profile.svg"> Edit Profile
              </a>
            </li>
            <li>
              <a class="dropdown-item" href (click)="onClick()">&nbsp;</a>
            </li>
            <li>
              <a class="dropdown-item" hre (click)="onClick()">&nbsp;</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onClickLogout();"><img src="/assets/images/svg/logout.svg"> Logout</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- end user-panel -->
    <div class="search-form">
      <form class="form search">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 mt-6">
          <input type="text txt-grey" class="form-control" id="inlineFormInputGroup" placeholder="Search">
          <div class="input-group-addon">
            <img src="/assets/images/svg/search.svg">
          </div>
        </div>
      </form>
    </div>
    <!-- end search-form -->
    <div class="groups-section border-left-grey text-center">
      <a routerLink="/group-list" href="#"><img src="/assets/images/svg/group.svg" alt="profile" class="mt-13 ic20"> </a>
    </div>
  </div>

  <div class="sidebar-body">

    <div class="left-panel-page col-12">
      <div class="row mt-2 mb-2">
        <div class="col-8">
          <div dropdown class="btn-group btn-group-left-panel">
            <button type="button" class="btn pl-2 pr-2 pb-0 pt-0 bg-white">
                <img src="/assets/images/beckway_logo.png" alt="Profile" title="profile" class="w-100">
            </button>
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle-split" id="org-dropdown" aria-expanded="false" dropdownToggle>
              <span class="sr-only"><i class="fa fa-angle-down md-blue" aria-hidden="true"></i></span>
            </button>
            <div class="lg-dpdn dropdown-menu" dropdownMenu aria-labelledby="org-dropdown">
              <a class="dropdown-item" href (click)="onClick()">
                <figure>
                  <img src="/assets/images/beckway_logo.png" alt="Profile" title="profile" class="w-100">
                </figure>
              </a>
              <a class="dropdown-item" href (click)="onClick()">
                <figure>
                  <img src="/assets/images/beckway_logo.png" alt="Profile" title="profile" class="w-100">
                </figure>
              </a>
              <a class="dropdown-item" href (click)="onClick()">
                <figure>
                  <img src="/assets/images/beckway_logo.png" alt="Profile" title="profile" class="w-100">
                </figure>
              </a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <ul class="nav nav-pills left-nav-pills row">
            <li class="col-3">
              <span class="dropdown">
                <a class="nav-link p-0 text-center mt-6" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/images/svg/copy-paste.svg" alt="Text" title="Text" class="ic16">
                </a>
                <div class="dropdown-menu dropdown-menu-left text-left nav-icons">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 class="title mb-10">Report options:</h3>
                  <p>Options</p>
                  <p>Options</p>
                  <p>Options</p>
                  <button type="button" class="btn btn-confirm-icon mt-20 btn-block sspsb">GENERATE</button>
                </div>
              </span>
            </li>
            <li class="col-3">
              <a class="nav-link p-0 text-center mt-6" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/images/svg/menu.svg" alt="Menu" title="Menu" class="ic16">
              </a>
            </li>
            <li class="col-3">
              <a class="nav-link p-0 text-center mt-6" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/images/svg/edit.svg" alt="Edit" title="Edit" class="ic16">
              </a>
            </li>
            <li class="col-3 sidebar-delete-popover">
              <a href [popover]="sidebarButtonsTemplate" (click)="onClick()" placement="bottom">
                <img src="/assets/images/svg/delete.svg" alt="Delete" >
              </a>
              <template #sidebarButtonsTemplate><app-buttons-popover></app-buttons-popover></template>
            </li>
          </ul>
        </div>
      </div>
      <div class="sidebar-body-content">
        <table class="tree-table">
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>#</th>
              <th colspan="2">
                <img src="/assets/images/svg/hirarchy-1.svg">
                <img src="/assets/images/svg/hirarchy-2.svg">
                <img src="/assets/images/svg/hirarchy-3.svg">
                <img src="/assets/images/svg/hirarchy-4.svg">
                <img src="/assets/images/svg/hirarchy-5.svg">
                  <span class="list-popover-container">
                    <a href [popover]="prioTemplate" (click)="onClick()" placement="bottom" href="#">Hierarchy</a>
                    <template #prioTemplate><app-prio-popover (choiceClicked)="prio_type = $event"></app-prio-popover></template>
                  </span>
              </th>
              <th class="list-popover-container">
                <a href [popover]="prioTemplate" (click)="onClick()" placement="bottom" #prioPop="bs-popover">PRIO</a>
                <template #prioTemplate><app-prio-popover (choiceClicked)="prio_type = $event; prioPop.hide()"></app-prio-popover></template>
              </th>
              <th><a href="#">LEAD</a></th>
              <th><a href="#">STAT</a></th>
              <th><a href="#">ATTN</a></th>
              <th></th>
              <th><a href="#">END</a></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let elmt of elements, let i = index" [ngClass]="{hide:elmt.hide}">
              <td><input type="checkbox"/></td>
              <td>3</td>
              <td class="{{elmt.type}}">
                <span class="treegrid-expander fa"
                      [ngClass]="{'fa-angle-down':elmt.state === 'expanded', 'fa-angle-right':elmt.state === 'collapsed'}"
                      *ngIf="elmt.type !== 'initiative'" (click)="onExpandCollapseClick(i)"></span>
                {{elmt.name}}
              </td>
              <td class="comment-box">
                <a href [popover]="commentTemplate" (click)="currentComment = elmt.comment; onClick()" placement="right" triggers="focus">
                  <img src="/assets/images/svg/comment.svg" class="bubble"/>
                </a>
              </td>
              <td class="rate">
                <rating [(ngModel)]="elmt.rate" stateOn="span-on" stateOff="span-off" *ngIf="prio_type === 'graphical'"></rating>
                <p *ngIf="prio_type === 'numerical'">{{elmt.rate}}</p>
                <i *ngIf="prio_type === 'color'" class="fa fa-circle mr-1" aria-hidden="true"
                   [ngClass]="{
                     'txt-green': elmt.rate === 1,
                     'txt-lightblue': elmt.rate === 2,
                     'txt-grey': elmt.rate === 3,
                     'txt-yellow': elmt.rate === 4,
                     'txt-lightred': elmt.rate === 5
                   }"></i>
              </td>
              <td class="set-user">
                <span *ngIf="elmt.lead">
                  {{elmt.lead}}
                  <a href [popover]="selectUserTemplate" (click)="onClick()" placement="bottom">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </a>
                </span>
                <a *ngIf="!elmt.lead" href [popover]="selectUserTemplate" (click)="onClick()" placement="bottom">set</a>
              </td>
              <td><i class="fa fa-circle txt-green mr-1" aria-hidden="true"></i></td>
              <td class="comment-box">
                <a href [popover]="flagTemplate" (click)="onClick()" placement="right" triggers="focus">
                  <input type="checkbox"/>
                </a>
              </td>
              <td class="calendar-td"><a href [popover]="calendarTemplate" (click)="onClick()" placement="bottom">set</a></td>
              <td>3 Weeks</td>
              <td>
                <i class="fa" [ngClass]="{'fa-lock': elmt.locked, 'fa-unlock-alt': !elmt.locked}" aria-hidden="true"
                   (click)="elmt.locked = !elmt.locked;"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <template #flagTemplate>
          <app-comment-popover [title]="'Reason for flagging attention?'"></app-comment-popover>
        </template>
        <template #commentTemplate>
          <app-comment-popover [title]="'Edit Initiative Description'" [comment]="currentComment"></app-comment-popover>
        </template>
        <template #calendarTemplate><app-calendar-popover></app-calendar-popover></template>
        <template #selectUserTemplate><app-select-user-popover></app-select-user-popover></template>
      </div>
    </div>

  </div>
</div>
