<div class="panel-sidebar">
  <div class="sidebar-header">
    <div class="user-panel">

      <div class="profile-image">
        <img src="{{user?.ProfilePic || '/assets/images/profile.jpg'}}" />
      </div>

      <div class="profile-details">
        <h3>{{user?.FullName || 'New User'}}</h3>
        <p>{{user?.role || 'Role'}}</p>
      </div>
      <div class="actions-menu">
        <div dropdown class="dropdown">
          <a href id="simple-dropdown" dropdownToggle>
            <i class="fa fa-angle-down md-blue" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="#" (click)="onClickEditProfile();">
                <img src="/assets/images/svg/profile.svg"> Edit Profile
              </a>
            </li>
            <li>
              <a class="dropdown-item" href (click)="onClick()">&nbsp;</a>
            </li>
            <li>
              <a class="dropdown-item" hre (click)="onClick()">&nbsp;</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onClickLogout();"><img src="/assets/images/svg/logout.svg"> Logout</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- end user-panel -->
    <div class="search-form">
      <form class="form search">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 mt-6">
          <input type="text txt-grey" class="form-control" id="inlineFormInputGroup" placeholder="Search">
          <div class="input-group-addon">
            <img src="/assets/images/svg/search.svg">
          </div>
        </div>
      </form>
    </div>
    <!-- end search-form -->
    <div class="groups-section border-left-grey text-center">
      <a href="group-list.html"><img src="/assets/images/svg/group.svg" alt="profile" class="mt-13 ic20"> </a>
    </div>
  </div>

  <div class="sidebar-body">

    <div class="left-panel-page col-12">
      <div class="row mt-2 mb-2">
        <div class="col-8">
          <div dropdown class="btn-group btn-group-left-panel">
            <button type="button" class="btn pl-2 pr-2 pb-0 pt-0 bg-white">
                <img src="/assets/images/beckway_logo.png" alt="Profile" title="profile" class="w-100">
            </button>
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle-split" id="org-dropdown" aria-expanded="false" dropdownToggle>
              <span class="sr-only"><i class="fa fa-angle-down md-blue" aria-hidden="true"></i></span>
            </button>
            <div class="lg-dpdn dropdown-menu" dropdownMenu aria-labelledby="org-dropdown">
              <a class="dropdown-item" href (click)="onClick()">
                <figure>
                  <img src="/assets/images/beckway_logo.png" alt="Profile" title="profile" class="w-100">
                </figure>
              </a>
              <a class="dropdown-item" href (click)="onClick()">
                <figure>
                  <img src="/assets/images/beckway_logo.png" alt="Profile" title="profile" class="w-100">
                </figure>
              </a>
              <a class="dropdown-item" href (click)="onClick()">
                <figure>
                  <img src="/assets/images/beckway_logo.png" alt="Profile" title="profile" class="w-100">
                </figure>
              </a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <ul class="nav nav-pills left-nav-pills row">
            <li class="col-3">
              <span class="dropdown">
                <a class="nav-link p-0 text-center mt-6" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/images/svg/copy-paste.svg" alt="Text" title="Text" class="ic16">
                </a>
                <div class="dropdown-menu dropdown-menu-left text-left nav-icons">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 class="title mb-10">Report options:</h3>
                  <p>Options</p>
                  <p>Options</p>
                  <p>Options</p>
                  <button type="button" class="btn btn-confirm-icon mt-20 btn-block sspsb">GENERATE</button>
                </div>
              </span>
            </li>
            <li class="col-3">
              <a class="nav-link p-0 text-center mt-6" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/images/svg/menu.svg" alt="Menu" title="Menu" class="ic16">
              </a>
            </li>
            <li class="col-3">
              <a class="nav-link p-0 text-center mt-6" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/images/svg/edit.svg" alt="Edit" title="Edit" class="ic16">
              </a>
            </li>
            <li class="col-3 sidebar-delete-popover">
              <a href [popover]="sidebarButtonsTemplate" (click)="onClick()" placement="bottom">
                <img src="/assets/images/svg/delete.svg" alt="Delete" >
              </a>
              <template #sidebarButtonsTemplate><app-buttons-popover></app-buttons-popover></template>
            </li>
          </ul>
        </div>
      </div>
      <div class="sidebar-body-content">
        <table class="tree-table">
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>#</th>
              <th colspan="2">
                <img src="/assets/images/svg/hirarchy-1.svg">
                <img src="/assets/images/svg/hirarchy-2.svg">
                <img src="/assets/images/svg/hirarchy-3.svg">
                <img src="/assets/images/svg/hirarchy-4.svg">
                <img src="/assets/images/svg/hirarchy-5.svg">
                <a href="#">Hierarchy</a>
              </th>
              <th><a href="#">PRIO</a></th>
              <th><a href="#">LEAD</a></th>
              <th><a href="#">STAT</a></th>
              <th><a href="#">ATTN</a></th>
              <th></th>
              <th><a href="#">END</a></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let elmt of elements, let i = index" [ngClass]="{hide:elmt.hide}">
              <td><input type="checkbox"/></td>
              <td>3</td>
              <td class="{{elmt.type}}">
                <span class="treegrid-expander fa"
                      [ngClass]="{'fa-angle-down':elmt.state === 'expanded', 'fa-angle-right':elmt.state === 'collapsed'}"
                      *ngIf="elmt.type !== 'initiative'" (click)="onExpandCollapseClick(i)"></span>
                {{elmt.name}}
              </td>
              <td><img src="/assets/images/svg/comment.svg"/></td>
              <td class="rate">
                <rating [(ngModel)]="elmt.rate"></rating>
              </td>
              <td>M. Habner</td>
              <td><i class="fa fa-circle txt-green mr-1" aria-hidden="true"></i></td>
              <td><input type="checkbox"/></td>
              <td><a href="#">set</a></td>
              <td>3 Weeks</td>
              <td><i class="fa fa-lock" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
