<div class="section">
  <div class="section-header lightBg">
    <h4>{{title}}</h4>
    <div class="section-controls">
      <ul>
        <li>
          <a href="javascript:void(0)" (click)="onGraphTableClick('table')" [ngClass]="{active: table_only}">
            <img src="/assets/images/svg/calender.svg" alt="table">
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="onGraphTableClick('graph')" [ngClass]="{active: graph_only}">
            <img src="/assets/images/svg/statistics.svg" alt="graph">
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" [ngClass]="{'expand-collapse': true, collapse: !section_collapsed, expand: section_collapsed}"
               (click)="onExpandCollapseClick()"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section-body lighterBg" [ngClass]="{collapsed: section_collapsed, graph_only:graph_only, table_only:table_only}">
    <ng-content></ng-content>
  </div>
</div>
