<div bsModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editProfileModalTitle"
     #editModal="bs-modal" [config]="{backdrop: 'static'}"
     aria-hidden="true" (onHide)="resetForm();">
  <div class="modal-dialog" role="document">
    <div class="modal-content small">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="firstTimeLogin">New User Set Up :</h4>
        <h4 class="modal-title" *ngIf="!firstTimeLogin" id="editProfileModalTitle">Edit Profile :</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideEventHandler()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="!user?.FullName">It looks like it's your first time logging in!<br>First, Let's set up your account
        </p>
        <div class="row">
          <div class="col-md-3">
            <h5>Profile Picture</h5>
            <div class="form-group">
              <input type="file" name="fupload" id="fupload" class="inputfile fupld" (change)="onImageChange($event)"/>
              <label for="fupload">
                <figure *ngIf="img_temp && img_temp !== user.ProfilePic" class="preview_big preview">
                  <img [src]="sanitizer.bypassSecurityTrustUrl(img_temp)" width="86"
                       height="86" alt="Upload">
                </figure>
                <figure *ngIf="!img_temp || img_temp === user.ProfilePic">
                  <img src="/assets/images/svg/upload.svg" alt="Upload">
                </figure>
              </label>
            </div>
            <h5>Preview</h5>
            <div class="preview_big preview">
              <img *ngIf="img_temp" [src]="sanitizer.bypassSecurityTrustUrl(img_temp)" width="60" height="60"/>
            </div>
            <div class="preview_small preview">
              <img *ngIf="img_temp" [src]="sanitizer.bypassSecurityTrustUrl(img_temp)" width="30" height="30"/>
            </div>
          </div>
          <div class="col-md-9">
            <form>
              <div class="form-group">
                <label>Full Name:</label>
                <input type="text" name="full_name" [(ngModel)]="user_temp.FullName" class="form-control"
                       placeholder="Full Name">
              </div>
              <div class="form-group">
                <label>Title/Role:</label>
                <input type="text" class="form-control" placeholder="Role" name="role" value="{{user.user_Role}}"
                       disabled>
              </div>
              <div class="form-group">
                <label>Email Address:</label>
                <input type="email" class="form-control" name="Email" value="{{user?.Email}}" disabled>
              </div>
              <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" class="form-control" name="confirm_password">
              </div>
            </form>

            <div class="error" *ngIf="error">
              <p>{{this.error}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-6 text-left btn-sm-block">
                <button class="btn btn-sm btn-confirm btn-block" data-dismiss="modal" (click)="onSubmit()">CONFIRM
                  CHANGES
                </button>
              </div>
              <div class="col-6 text-right btn-sm-block" *ngIf="!firstTimeLogin">
                <button class="btn btn-sm btn-cancel btn-block" data-dismiss="modal" (click)="hideEventHandler()">CANCEL
                  CHANGES
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
