.editable-string input {
  resize: none;
  background: none;
  outline: none;
  overflow: hidden;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  letter-spacing: inherit;
  padding: 0px 4px;
  margin-top: 0;
  margin-left: 0;
  height: auto;
  border: none;
  text-align: center;
  width: 100%;
}

.editable-string input:focus {
  outline: none;
  /*border: 1px solid #000;*/
  padding: 0px 4px;
  /*text-align: left;*/
}

.editable-string input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: inherit;
}

.editable-string input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: inherit;
}

.editable-string input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: inherit;
}

.editable-string input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: inherit;
}
