<div class="table-box">
  <h5>Title of table</h5>
  <table>
    <thead>
    <tr>
      <td colspan="3" class="top-header">Milestone</td>
      <td colspan="3" class="top-header">Target (Plan)</td>
      <td colspan="3" class="top-header">Track (Frcst)</td>
      <td colspan="3" class="top-header">Triage (Status)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="bold-header text-white">Ref</td>
      <td class="bold-header">Category</td>
      <td class="bold-header">Impact</td>
      <td class="bold-header">Worst</td>
      <td class="bold-header">Plan</td>
      <td class="bold-header">Best</td>
      <td class="bold-header">Worst</td>
      <td class="bold-header">Frcst</td>
      <td class="bold-header">Best</td>
      <td class="bold-header">rU/F</td>
      <td class="bold-header">%U/F</td>
      <td class="bold-header">Notes</td>
    </tr>
    <tr>
      <td class="bold-header text-white">1</td>
      <td>
        <div dropdown class="dropdown">
          <a href id="margin-dropdown" dropdownToggle>Margin</a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Design</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Develop</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Implement</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <app-editable-string [text]="'Incremental Salaries'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'-$45'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'-$30'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'-$27'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'-$45'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'-$40'"></app-editable-string>
      </td>
      <td>
        <app-editable-string [text]="'-$20'"></app-editable-string>
      </td>
      <td>10 U</td>
      <td>33%U</td>
      <td>CFO confirmed projections</td>
    </tr>
    </tbody>
    <tfoot>
    <!--<tr>-->
    <!--&lt;!&ndash;&lt;!&ndash;<td class="bold-header text-white">2</td>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<td>&ndash;&gt;-->
    <!--&lt;!&ndash;<div dropdown class="dropdown">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href dropdownToggle>SG&A</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="dropdown-item" href="javascript:void(0)">Design</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="dropdown-item" href="javascript:void(0)">Develop</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="dropdown-item" href="javascript:void(0)">Implement</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="dropdown-item" href="javascript:void(0)">Enhance</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</td>&ndash;&gt;-->

    <!--<td *ngFor="let item of ">-->
    <!--<app-editable-string [text]="'Sublet Culver Office'"></app-editable-string>-->
    <!--</td>-->

    <!--</tr>-->

    <tr *ngFor="let row of content; let i = index">
      <td *ngFor="let cell of row; let j = index">
        <app-editable-string [text]="cell.text" (changed)="updateContent(i, j, $event)"></app-editable-string>
      </td>
      <!--<td><a href class="delete-row" (click)="deleteRowConfirm(i)"><span-->
      <!--class="glyphicon glyphicon-remove-circle"></span></a></td>-->
    </tr>


    <tr>
      <td colspan="3" class="bold-header text-white">Total Timing</td>
      <td class="bold-header">$255</td>
      <td class="bold-header">$370</td>
      <td class="bold-header">$473</td>
      <td class="bold-header">$455</td>
      <td class="bold-header">$510</td>
      <td class="bold-header">$580</td>
      <td class="bold-header">140 F</td>
      <td class="bold-header">38%F</td>
      <td class="bold-header">Overall not worried about this initiative</td>
    </tr>
    </tfoot>
  </table>
</div>