<div class="row sidebar-header">
    <div class="user-panel col-lg-4 col-md-4 col-sm-4">

        <div class="profile-image">
            <img src="{{user?.ProfilePic || '/assets/images/profile.jpg'}}"/>
        </div>

        <div class="profile-details">
            <h3>{{user?.FullName || 'New User'}}</h3>
            <p>{{user?.role || 'Role'}}</p>
        </div>
        <div class="actions-menu">
            <div dropdown class="dropdown">
                <a href id="simple-dropdown" dropdownToggle>
                    <i class="fa fa-angle-down md-blue" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                    <li>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="onClickEditProfile();">
                            <img src="/assets/images/svg/profile.svg"> Edit Profile
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href (click)="onClick()">&nbsp;</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href (click)="onClick()">&nbsp;</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href (click)="onClickLogout();"><img
                                src="/assets/images/svg/logout.svg"> Logout</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- end user-panel -->
    <div class="search-form col-lg-4 col-md-4 col-sm-4">
        <form class="form search">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0 mt-6">
                <input type="text txt-grey" class="form-control" id="inlineFormInputGroup" placeholder="Search">
                <div class="input-group-addon">
                    <img src="/assets/images/svg/search.svg">
                </div>
            </div>
        </form>
    </div>
    <!-- end search-form -->
    <div class="groups-section border-left-grey text-center col-lg-4 col-md-4 col-sm-4">
        <a routerLink="/team-view"><img src="/assets/images/svg/group.svg" alt="profile" class="mt-13 ic20">
        </a>
    </div>
</div>
