/*- COLORS SCHEMES -*/
$DarkerBlue:  #3a4657;
$DarkBlue:    #758296;
$MediumBlue:  #bbc8dc;
$LightBlue:   #d3ddeb;
$LighterBlue: #f5f7fa;

$DarkerGreen:  #103824;
$DarkGreen:    #008001;
$MediumGreen:  #74C465;
$LightGreen:   #cfffcc;
$LighterGreen: #F1FFF0;

.lighterBg {
  background: $LighterBlue;
}
.lightBg {
  background: $LightBlue;
}
.mediumBg {
  background: $MediumBlue;
}
.darkBg {
  background: $DarkBlue;
}
.darkerBg {
  background: $DarkerBlue;
}

.lighterColor {
  color: $LighterBlue;
}
.lightColor {
  color: $LightBlue;
}
.mediumColor {
  color: $MediumBlue;
}
.darkColor {
  color: $DarkBlue;
}
.darkerColor {
  color: $DarkerBlue;
}


.green {
  .lighterBg {
    background: $LighterGreen;
  }
  .lightBg {
    background: $LightGreen;
  }
  .mediumBg {
    background: $MediumGreen;
  }
  .darkBg {
    background: $DarkGreen;
  }
  .darkerBg {
    background: $DarkerGreen;
  }

  .lighterColor {
    color: $LighterGreen;
  }
  .lightColor {
    color: $LightGreen;
  }
  .mediumColor {
    color: $MediumGreen;
  }
  .darkColor {
    color: $DarkGreen;
  }
  .darkerColor {
    color: $DarkerGreen;
  }

}

.navbar-inverse .navbar-nav .nav-link.active {
  border-bottom: 3px solid $DarkBlue;
}
.green {
  .navbar-inverse .navbar-nav .nav-link.active {
    border-bottom: 3px solid $DarkGreen;
  }
}
