<div bsModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addOrganizationModalTitle"
     aria-hidden="true" id="addOrganizationModal" #addOrganizationModal="bs-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content small">
            <div class="modal-header">
                <h4 class="modal-title" id="addOrganizationModalTitle">Add Organization</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="addOrganizationModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="m-auto">

                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="org_logo">Organization Logo:</label>
                                    <input type="file" name="org_logo" id="org_logo" class="inputfile fupld"
                                           (change)="onImageChange($event)"/>
                                    <label for="org_logo">
                                        <figure>
                                          <img alt="Upload"
                                               [src]="_sanitizer.bypassSecurityTrustUrl(organization_img || '/assets/images/svg/upload.svg')">
                                          <span class="sspl text-center">Click to upload</span>
                                        </figure>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="org_name">Organization Name:</label>
                                    <input type="text" name="org_name" class="form-control" id="org_name"
                                           [(ngModel)]="organization.Name">
                                </div>

                                <div class="form-group">
                                    <label for="org_tagline">Login Description (120 Character limit):</label>
                                    <textarea name="org_tagline" id="org_tagline" class="form-control" maxlength="120"
                                              [(ngModel)]="organization.Description"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="color-scheme" id="color-scheme">Select color scheme</label>

                                  <div dropdown class="dropdown">
                                    <a href id="cs-dropdown" dropdownToggle>
                                      {{organization.defaultscheme}}
                                      <app-colors-scheme [scheme]="organization.defaultscheme"></app-colors-scheme>
                                    </a>
                                    <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                                      <li>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                           (click)="organization.defaultscheme = 'Beckway Blue'">
                                          Beckway Blue
                                          <app-colors-scheme></app-colors-scheme>
                                        </a>
                                      </li>
                                      <li>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                           (click)="organization.defaultscheme = 'Beckway Green'">
                                          Beckway Green
                                          <app-colors-scheme [scheme]="'green'"></app-colors-scheme>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <label for="predefinedemail">Predefined Email</label>
                                    <input type="email" class="form-control" id="predefinedemail" name="email"
                                           [(ngModel)]="organization.Email">
                                </div>
                                <div class="form-group" *ngIf="error">
                                  <p class="error">{{error}}</p>
                                </div>
                                <div class="form-group" *ngIf="success">
                                  <p class="success">{{success}}</p>
                                </div>
                                <div class="form-group fpl text-right submit_form">
                                    <button class="btn btn-md btn-success ml-4 sspb" type="submit" (click)="onSubmit()" *ngIf="!working">
                                      CONFIRM
                                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-md btn-success ml-4 sspb" type="submit" *ngIf="working">
                                      Working...
                                      <span class="working"><img src="/assets/images/loading.png" alt="working..."/></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
