<div id="panel-page">
  <split direction="horizontal" [gutterSize]="5" (dragProgress)="onResizePanel($event)">
    <split-area [size]="40" [minSizePixel]="400">
      <div class="panel-left" [ngClass]="{'small': small_breakpoint}">
        <div class="panel-sidebar lightBg">
          <app-header></app-header>
          <div class="sidebar-body">
            <div class="left-panel-page col-12">
              <app-organizations-header #organizationsHeader
                                        (organizationResponse)="updateAddOrgStatus($event);">
              </app-organizations-header>
              <app-panel-sidebar></app-panel-sidebar>
            </div>

          </div>
        </div>

      </div>
    </split-area>
    <split-area [size]="60" [minSizePixel]="600">
      <div class="panel-right lighterBg">

        <div class="panel-header lighterBg">

          <div class="top-header-section lightBg">
            <div class="panel-breadcrumb">
              <h2>Portfolio</h2> <i class="fa fa-angle-right md-blue ml-0 mr-1" aria-hidden="true"></i>
              <h3>Company</h3> <i class="fa fa-angle-right md-blue ml-0 mr-1" aria-hidden="true"></i>
              <h4>Program</h4> <i class="fa fa-angle-right md-blue ml-0 mr-1" aria-hidden="true"></i>
              <h5>Strategy</h5> <i class="fa fa-angle-right md-blue ml-0 mr-1" aria-hidden="true"></i>
              <h6>Initiative</h6>
            </div>
            <ul class="panel-header-icons">
              <li class="header-item notifications-popover">
                <a href [popover]="notificationsTemplate" (click)="onClick()" placement="bottom" triggers="focus">
                  <img src="/assets/images/svg/mail.svg" alt="Mail"><span class="notif_count">3</span>
                </a>
                <template #notificationsTemplate>
                  <app-notifications-popover></app-notifications-popover>
                </template>
              </li>
              <li class="header-item revisions-popover">
                <a href [popover]="revisionsTemplate" (click)="onClick()" placement="bottom" triggers="focus">
                  <img src="/assets/images/svg/time.svg" alt="Time">
                </a>
                <template #revisionsTemplate>
                  <app-revisions-popover></app-revisions-popover>
                </template>
              </li>
              <li class="header-item"><a href="javascript:void(0)"><img src="/assets/images/svg/info.svg"
                                                                        alt="Info"></a></li>
              <li class="header-item">
                <div dropdown class="dropdown">
                  <a href id="settings-dropdown" dropdownToggle><img src="/assets/images/svg/settings.svg"
                                                                     alt="Settings"></a>
                  <div class="settings-popover" dropdownMenu aria-labelledby="settings-dropdown">
                    <app-settings-popover
                            (addOrganizationClicked)="addOrganizationModal.trigger()"></app-settings-popover>
                  </div>
                </div>


              </li>
            </ul>
          </div>

          <div class="bottom-header-section">
            <div class="content-desc">
              <p class="content-date">As of Friday, December 16, 2016</p>
              <p class="content-title"><i class="fa fa-circle txt-green mr-1" aria-hidden="true"></i> Intiative Name</p>
            </div>
            <div class="body-controls">
              <ul class="state-btns">
                <li>
                  <a href="javascript:void(0)" class="state-btn" [ngClass]="{active: table_only}"
                     (click)="onUpdateDisplayOptions('table')">
                    <img src="/assets/images/svg/calender.svg" alt="table">
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="state-btn" [ngClass]="{active: graph_only}"
                     (click)="onUpdateDisplayOptions('graph')">
                    <img src="/assets/images/svg/statistics.svg" alt="graph">
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="state-btn" [ngClass]="{active: target}"
                     (click)="onUpdateStateBtns('target')">
                    <img src="/assets/images/svg/target.svg" alt="target"> Target
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="state-btn" [ngClass]="{active: track}"
                     (click)="onUpdateStateBtns('track')">
                    <img src="/assets/images/svg/track.svg" alt="track"> Track
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="state-btn" [ngClass]="{active: triage}"
                     (click)="onUpdateStateBtns('triage')">
                    <img src="/assets/images/svg/triage.svg" alt="triage"> Triage
                  </a>
                </li>
              </ul>
              <ul class="action-icons">
                <li><a href="javascript:void(0)"><img src="/assets/images/svg/copy-paste.svg" alt="Text"></a></li>
                <li><a href="javascript:void(0)"><img src="/assets/images/svg/menu.svg" alt="Menu"></a></li>
                <li><a href="javascript:void(0)"><img src="/assets/images/svg/edit.svg" alt="Edit"></a></li>
                <li class="delete-popover">
                  <a href [popover]="buttonsTemplate" (click)="onClick()" placement="left" triggers="focus">
                    <img src="/assets/images/svg/delete.svg" alt="Delete">
                  </a>
                  <template #buttonsTemplate>
                    <app-buttons-popover></app-buttons-popover>
                  </template>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="panel-body clear">
          <div class="body-content clear darkBg">

            <app-collapsible-section [title]="'Description'" [graph_only]="graph_only" [table_only]="table_only">
              <div class="table-box">
                <h5>Title of table</h5>
                <table>
                  <thead>
                  <tr>
                    <th><input type="checkbox"/></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Name</th>
                    <th>Name</th>
                    <th>Name</th>
                    <th>Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="3">Total</td>
                    <td colspan="4"></td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <div class="graph-cards">

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

              </div>
            </app-collapsible-section>

            <app-collapsible-section [title]="'Summary Status'" [graph_only]="graph_only" [table_only]="table_only">
              <div class="table-box">
                <h5>Title of table</h5>
                <table>
                  <tbody>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>1</td>
                    <td>Name of Entry</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>1</td>
                    <td>Name of Entry</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>1</td>
                    <td>Name of Entry</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="graph-cards">

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

              </div>
            </app-collapsible-section>

            <app-collapsible-section [title]="'Timing'" [graph_only]="graph_only" [table_only]="table_only"
                                     class="dashboard-table">
              <div class="table-box">
                <h5>Title of table</h5>
                <table>
                  <thead>
                  <tr>
                    <td colspan="3" class="top-header">Milestone</td>
                    <td colspan="3" class="top-header">Target (Plan)</td>
                    <td colspan="3" class="top-header">Track (Frcst)</td>
                    <td colspan="4" class="top-header">Triage (Status)</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="bold-header text-white">Ref</td>
                    <td class="bold-header">Category</td>
                    <td class="bold-header">Milestone</td>
                    <td class="bold-header">Start</td>
                    <td class="bold-header">Duration</td>
                    <td class="bold-header">End</td>
                    <td class="bold-header">Start</td>
                    <td class="bold-header">Duration</td>
                    <td class="bold-header">End</td>
                    <td class="bold-header">r Dur.</td>
                    <td class="bold-header">r End</td>
                    <td class="bold-header">Status</td>
                    <td class="bold-header">Notes</td>
                  </tr>
                  <tr>
                    <td class="bold-header text-white">1</td>
                    <td>
                      <div dropdown class="dropdown">
                        <a dropdownToggle>Plan</a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Design</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Develop</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Implement</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <app-editable-string [text]="'Analyze ROI'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'8/1/16'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'1/19/00'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'8/21/16'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'8/5/16'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'1/24/00'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'8/30/16'"></app-editable-string>
                    </td>
                    <td>5 U</td>
                    <td>9 U</td>
                    <td>C</td>
                    <td>CFO confirmed projections</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td class="bold-header text-white">2</td>
                    <td>
                      <div dropdown class="dropdown">
                        <a dropdownToggle>Plan</a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Design</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Develop</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Implement</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <app-editable-string [text]="'Obtain Approval'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'9/1/16'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'1/19/00'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'9/21/16'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'9/5/16'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'1/9/00'"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="'9/15/16'"></app-editable-string>
                    </td>
                    <td>10 F</td>
                    <td>6 F</td>
                    <td>G</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="bold-header text-white">3</td>
                    <td>
                      <div dropdown class="dropdown">
                        <a dropdownToggle>Develop</a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Design</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Develop</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Implement</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="bold-header text-white">4</td>
                    <td>
                      <div dropdown class="dropdown">
                        <a dropdownToggle>Develop</a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Design</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Develop</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Implement</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="bold-header text-white">5</td>
                    <td>
                      <div dropdown class="dropdown">
                        <a dropdownToggle>Implement</a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Design</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Develop</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Implement</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="bold-header text-white">Unplnd</td>
                    <td>
                      <div dropdown class="dropdown">
                        <a dropdownToggle>Implement</a>
                        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Design</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Develop</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Implement</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Enhance</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td>
                      <app-editable-string [text]="''"></app-editable-string>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="3" class="bold-header text-white">Total Timing</td>
                    <td class="bold-header">8/1/16</td>
                    <td class="bold-header">5/21/00</td>
                    <td class="bold-header">12/21/16</td>
                    <td class="bold-header">8/5/16</td>
                    <td class="bold-header">6/11/00</td>
                    <td class="bold-header">1/15/17</td>
                    <td class="bold-header">21 U</td>
                    <td class="bold-header">25 U</td>
                    <td class="bold-header">18% U</td>
                    <td class="bold-header">Overall not worried about this initiative</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <div class="graph-cards">

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

              </div>
            </app-collapsible-section>

            <app-collapsible-section [title]="'EBITDA'" [graph_only]="graph_only" [table_only]="table_only"
                                     class="dashboard-table">

              <app-ebitda-table></app-ebitda-table>

              <div class="graph-cards">

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

                <div class="graph-card">
                  <h5>Title of Infographic</h5>
                  <div class="graph-body">
                    <div class="graph">
                      <img src="/assets/images/svg/statistics.svg" alt="graph">
                    </div>
                  </div>
                </div>

              </div>
            </app-collapsible-section>
          </div>
        </div>

      </div>
    </split-area>
  </split>
</div>

<app-add-organization-modal #addOrganizationModal
                            (newOrganizationSubmitted)="organizationsHeader.submitOrganization($event);">
</app-add-organization-modal>
